/* common style  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    background: #264653;
}


/* navbar starts  */

.nav-button{
    width: 91px;
    height: 44px;
    background: #E76F51 !important;
    border-radius: 5px;

}

/* honda cbr starts  */

.purchase-button{
    width: 168px;
    height: 44px;
    font-weight: 500;
    font-size: 16px;
    border: none;
    padding: 10px 46px;
    color: white;
    background: #E76F51;
    border-radius: 5px;
}

.welcome-div h1{
    font-weight: 600;
    font-size: 48px;
}

.welcome-div p{
    color: #E0E0E0;
    line-height: 24px;
    text-align:justify;
}

/* fetured bikes starts  */

.section-heading{
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}

.fetuer-bike p{
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    color: #E76F51;
}

.solid-hr{
    width: 58.5px;
    margin: auto;
    margin-top: -15px;
    border: 3px solid #E76F51;
    border-top: none;
    background-color: unset;
    border-radius: 1px;
}

.card-border{
    border:none !important;
    width: 288px;
    height: 243px;
    margin: auto;
}

.gray-scale{
    filter: grayscale(100%);
}


/* latest news starts  */

.card-shadow{
    border: none !important;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

/* clients starts  */

.client-card img{
    width: 150px;
    height: 150px;
    margin: auto;
}

.small-ratings i{
    color: #E77C40;
}

.regina-miles{
    color: #23A6F0;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}
.bankar{
    color: #252B42;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin-top: -25px;
}

/* topic starts */

.card-1,.card-2,.card-3{
    border: none !important;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card-title{
    color: #E77C40;
}


/* contact-us starts */

.contact-us{
 background-color: #00EAD3;
}